cb_data/top/servertopdir.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="servers_list">
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="1">
				<xs:element name="server" minOccurs="1" maxOccurs="127">
					<xs:complexType>
						<xs:attribute name="dir" type="xs:normalizedString" use="required" />
						<xs:attribute name="sqlDPId" type="xs:positiveInteger" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>